*{
    font-family: 'Signika', sans-serif;
}

.time{
    width: 200px;
    border: cadetblue solid 1px;
    text-align: center;
    margin-left: 100px;
}
.time_h{
    width: 300px;
    text-align: center;
    margin-left: 80px;
}